FrutillaFront/FrutillaLocalWebService/LocalWebService/Connected Services/ProductoImagenWS/ProductoImagenWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://WS.frutilla.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ProductoImagenWS" targetNamespace="http://WS.frutilla.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/FrutillaWS/ProductoImagenWS?xsd=1" namespace="http://WS.frutilla.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="eliminarProductoImagen">
    <part name="parameters" element="tns:eliminarProductoImagen" />
  </message>
  <message name="eliminarProductoImagenResponse">
    <part name="parameters" element="tns:eliminarProductoImagenResponse" />
  </message>
  <message name="listarProductoImagen">
    <part name="parameters" element="tns:listarProductoImagen" />
  </message>
  <message name="listarProductoImagenResponse">
    <part name="parameters" element="tns:listarProductoImagenResponse" />
  </message>
  <message name="agregarProductoImagen">
    <part name="parameters" element="tns:agregarProductoImagen" />
  </message>
  <message name="agregarProductoImagenResponse">
    <part name="parameters" element="tns:agregarProductoImagenResponse" />
  </message>
  <message name="actualizarProductoImagen">
    <part name="parameters" element="tns:actualizarProductoImagen" />
  </message>
  <message name="actualizarProductoImagenResponse">
    <part name="parameters" element="tns:actualizarProductoImagenResponse" />
  </message>
  <message name="obtenerProductoImagen">
    <part name="parameters" element="tns:obtenerProductoImagen" />
  </message>
  <message name="obtenerProductoImagenResponse">
    <part name="parameters" element="tns:obtenerProductoImagenResponse" />
  </message>
  <portType name="ProductoImagenWS">
    <operation name="eliminarProductoImagen">
      <input wsam:Action="http://WS.frutilla.pucp.edu.pe/ProductoImagenWS/eliminarProductoImagenRequest" message="tns:eliminarProductoImagen" />
      <output wsam:Action="http://WS.frutilla.pucp.edu.pe/ProductoImagenWS/eliminarProductoImagenResponse" message="tns:eliminarProductoImagenResponse" />
    </operation>
    <operation name="listarProductoImagen">
      <input wsam:Action="http://WS.frutilla.pucp.edu.pe/ProductoImagenWS/listarProductoImagenRequest" message="tns:listarProductoImagen" />
      <output wsam:Action="http://WS.frutilla.pucp.edu.pe/ProductoImagenWS/listarProductoImagenResponse" message="tns:listarProductoImagenResponse" />
    </operation>
    <operation name="agregarProductoImagen">
      <input wsam:Action="http://WS.frutilla.pucp.edu.pe/ProductoImagenWS/agregarProductoImagenRequest" message="tns:agregarProductoImagen" />
      <output wsam:Action="http://WS.frutilla.pucp.edu.pe/ProductoImagenWS/agregarProductoImagenResponse" message="tns:agregarProductoImagenResponse" />
    </operation>
    <operation name="actualizarProductoImagen">
      <input wsam:Action="http://WS.frutilla.pucp.edu.pe/ProductoImagenWS/actualizarProductoImagenRequest" message="tns:actualizarProductoImagen" />
      <output wsam:Action="http://WS.frutilla.pucp.edu.pe/ProductoImagenWS/actualizarProductoImagenResponse" message="tns:actualizarProductoImagenResponse" />
    </operation>
    <operation name="obtenerProductoImagen">
      <input wsam:Action="http://WS.frutilla.pucp.edu.pe/ProductoImagenWS/obtenerProductoImagenRequest" message="tns:obtenerProductoImagen" />
      <output wsam:Action="http://WS.frutilla.pucp.edu.pe/ProductoImagenWS/obtenerProductoImagenResponse" message="tns:obtenerProductoImagenResponse" />
    </operation>
  </portType>
  <binding name="ProductoImagenWSPortBinding" type="tns:ProductoImagenWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarProductoImagen">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProductoImagen">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="agregarProductoImagen">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarProductoImagen">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerProductoImagen">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ProductoImagenWS">
    <port name="ProductoImagenWSPort" binding="tns:ProductoImagenWSPortBinding">
      <soap:address location="http://localhost:8080/FrutillaWS/ProductoImagenWS" />
    </port>
  </service>
</definitions>