FrutillaFront/FrutillaLocalWebService/LocalWebService/Connected Services/ReporteWS/ReporteWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="pe.edu.pucp.frutilla" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ReporteWS" targetNamespace="pe.edu.pucp.frutilla" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/FrutillaWS/ReporteWS?xsd=1" namespace="pe.edu.pucp.frutilla" />
    </xsd:schema>
  </types>
  <message name="generarBuffer">
    <part name="parameters" element="tns:generarBuffer" />
  </message>
  <message name="generarBufferResponse">
    <part name="parameters" element="tns:generarBufferResponse" />
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception" />
  </message>
  <message name="VentasXLocal">
    <part name="parameters" element="tns:VentasXLocal" />
  </message>
  <message name="VentasXLocalResponse">
    <part name="parameters" element="tns:VentasXLocalResponse" />
  </message>
  <message name="VentasXEmpleado">
    <part name="parameters" element="tns:VentasXEmpleado" />
  </message>
  <message name="VentasXEmpleadoResponse">
    <part name="parameters" element="tns:VentasXEmpleadoResponse" />
  </message>
  <portType name="ReporteWS">
    <operation name="generarBuffer">
      <input wsam:Action="pe.edu.pucp.frutilla/ReporteWS/generarBufferRequest" message="tns:generarBuffer" />
      <output wsam:Action="pe.edu.pucp.frutilla/ReporteWS/generarBufferResponse" message="tns:generarBufferResponse" />
      <fault wsam:Action="pe.edu.pucp.frutilla/ReporteWS/generarBuffer/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="VentasXLocal">
      <input wsam:Action="pe.edu.pucp.frutilla/ReporteWS/VentasXLocalRequest" message="tns:VentasXLocal" />
      <output wsam:Action="pe.edu.pucp.frutilla/ReporteWS/VentasXLocalResponse" message="tns:VentasXLocalResponse" />
    </operation>
    <operation name="VentasXEmpleado">
      <input wsam:Action="pe.edu.pucp.frutilla/ReporteWS/VentasXEmpleadoRequest" message="tns:VentasXEmpleado" />
      <output wsam:Action="pe.edu.pucp.frutilla/ReporteWS/VentasXEmpleadoResponse" message="tns:VentasXEmpleadoResponse" />
    </operation>
  </portType>
  <binding name="ReporteWSPortBinding" type="tns:ReporteWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="generarBuffer">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="VentasXLocal">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="VentasXEmpleado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ReporteWS">
    <port name="ReporteWSPort" binding="tns:ReporteWSPortBinding">
      <soap:address location="http://localhost:8080/FrutillaWS/ReporteWS" />
    </port>
  </service>
</definitions>