FrutillaFront/FrutillaLocalWebService/LocalWebService/Connected Services/EmpleadoWS/EmpleadoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://WS.frutilla.pucp.edu.pe/" targetNamespace="http://WS.frutilla.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Exception" type="tns:Exception" />
  <xs:element name="VentasXEmpleado" type="tns:VentasXEmpleado" />
  <xs:element name="VentasXEmpleadoResponse" type="tns:VentasXEmpleadoResponse" />
  <xs:element name="VentasXLocal" type="tns:VentasXLocal" />
  <xs:element name="VentasXLocalResponse" type="tns:VentasXLocalResponse" />
  <xs:element name="actualizarEmpleado" type="tns:actualizarEmpleado" />
  <xs:element name="actualizarEmpleadoResponse" type="tns:actualizarEmpleadoResponse" />
  <xs:element name="agregarEmpleado" type="tns:agregarEmpleado" />
  <xs:element name="agregarEmpleadoResponse" type="tns:agregarEmpleadoResponse" />
  <xs:element name="eliminarEmpleado" type="tns:eliminarEmpleado" />
  <xs:element name="eliminarEmpleadoResponse" type="tns:eliminarEmpleadoResponse" />
  <xs:element name="generarBuffer" type="tns:generarBuffer" />
  <xs:element name="generarBufferResponse" type="tns:generarBufferResponse" />
  <xs:element name="obtenerEmpleadoPorId" type="tns:obtenerEmpleadoPorId" />
  <xs:element name="obtenerEmpleadoPorIdResponse" type="tns:obtenerEmpleadoPorIdResponse" />
  <xs:element name="obtenerEmpleadosxLocal" type="tns:obtenerEmpleadosxLocal" />
  <xs:element name="obtenerEmpleadosxLocalResponse" type="tns:obtenerEmpleadosxLocalResponse" />
  <xs:complexType name="obtenerEmpleadoPorId">
    <xs:sequence>
      <xs:element name="idEmpleado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerEmpleadoPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:empleadoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="empleadoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="fechatContratoSTRING" type="xs:string" />
          <xs:element name="idLocal" type="xs:int" />
          <xs:element name="salario" type="xs:double" />
          <xs:element name="tipo" type="xs:unsignedShort" />
          <xs:element name="turnoTrabajo" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="contraSistema" type="xs:string" />
      <xs:element minOccurs="0" name="correoElectronico" type="xs:string" />
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="tipoUsuario" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioSistema" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarBuffer">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element name="arg1">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="entry">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="key" type="xs:string" />
                  <xs:element minOccurs="0" name="value" type="xs:anyType" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarBufferResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VentasXLocal">
    <xs:sequence>
      <xs:element name="idLocal" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VentasXLocalResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="agregarEmpleado">
    <xs:sequence>
      <xs:element minOccurs="0" name="empleado" type="tns:empleadoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="agregarEmpleadoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerEmpleadosxLocal">
    <xs:sequence>
      <xs:element name="idLocal" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerEmpleadosxLocalResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:empleadoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarEmpleado">
    <xs:sequence>
      <xs:element minOccurs="0" name="empleado" type="tns:empleadoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarEmpleadoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VentasXEmpleado">
    <xs:sequence>
      <xs:element name="idEmpleado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VentasXEmpleadoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarEmpleado">
    <xs:sequence>
      <xs:element name="idEmpleado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarEmpleadoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>