FrutillaFront/FrutillaLocalWebService/LocalWebService/Connected Services/EmpleadoWS/EmpleadoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://WS.frutilla.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="EmpleadoWS" targetNamespace="http://WS.frutilla.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/FrutillaWS/EmpleadoWS?xsd=1" namespace="http://WS.frutilla.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="agregarEmpleado">
    <part name="parameters" element="tns:agregarEmpleado" />
  </message>
  <message name="agregarEmpleadoResponse">
    <part name="parameters" element="tns:agregarEmpleadoResponse" />
  </message>
  <message name="obtenerEmpleados">
    <part name="parameters" element="tns:obtenerEmpleados" />
  </message>
  <message name="obtenerEmpleadosResponse">
    <part name="parameters" element="tns:obtenerEmpleadosResponse" />
  </message>
  <message name="actualizarEmpleado">
    <part name="parameters" element="tns:actualizarEmpleado" />
  </message>
  <message name="actualizarEmpleadoResponse">
    <part name="parameters" element="tns:actualizarEmpleadoResponse" />
  </message>
  <message name="eliminarEmpleado">
    <part name="parameters" element="tns:eliminarEmpleado" />
  </message>
  <message name="eliminarEmpleadoResponse">
    <part name="parameters" element="tns:eliminarEmpleadoResponse" />
  </message>
  <message name="obtenerEmpleadoPorId">
    <part name="parameters" element="tns:obtenerEmpleadoPorId" />
  </message>
  <message name="obtenerEmpleadoPorIdResponse">
    <part name="parameters" element="tns:obtenerEmpleadoPorIdResponse" />
  </message>
  <portType name="EmpleadoWS">
    <operation name="agregarEmpleado">
      <input wsam:Action="http://WS.frutilla.pucp.edu.pe/EmpleadoWS/agregarEmpleadoRequest" message="tns:agregarEmpleado" />
      <output wsam:Action="http://WS.frutilla.pucp.edu.pe/EmpleadoWS/agregarEmpleadoResponse" message="tns:agregarEmpleadoResponse" />
    </operation>
    <operation name="obtenerEmpleados">
      <input wsam:Action="http://WS.frutilla.pucp.edu.pe/EmpleadoWS/obtenerEmpleadosRequest" message="tns:obtenerEmpleados" />
      <output wsam:Action="http://WS.frutilla.pucp.edu.pe/EmpleadoWS/obtenerEmpleadosResponse" message="tns:obtenerEmpleadosResponse" />
    </operation>
    <operation name="actualizarEmpleado">
      <input wsam:Action="http://WS.frutilla.pucp.edu.pe/EmpleadoWS/actualizarEmpleadoRequest" message="tns:actualizarEmpleado" />
      <output wsam:Action="http://WS.frutilla.pucp.edu.pe/EmpleadoWS/actualizarEmpleadoResponse" message="tns:actualizarEmpleadoResponse" />
    </operation>
    <operation name="eliminarEmpleado">
      <input wsam:Action="http://WS.frutilla.pucp.edu.pe/EmpleadoWS/eliminarEmpleadoRequest" message="tns:eliminarEmpleado" />
      <output wsam:Action="http://WS.frutilla.pucp.edu.pe/EmpleadoWS/eliminarEmpleadoResponse" message="tns:eliminarEmpleadoResponse" />
    </operation>
    <operation name="obtenerEmpleadoPorId">
      <input wsam:Action="http://WS.frutilla.pucp.edu.pe/EmpleadoWS/obtenerEmpleadoPorIdRequest" message="tns:obtenerEmpleadoPorId" />
      <output wsam:Action="http://WS.frutilla.pucp.edu.pe/EmpleadoWS/obtenerEmpleadoPorIdResponse" message="tns:obtenerEmpleadoPorIdResponse" />
    </operation>
  </portType>
  <binding name="EmpleadoWSPortBinding" type="tns:EmpleadoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="agregarEmpleado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerEmpleados">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarEmpleado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarEmpleado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerEmpleadoPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="EmpleadoWS">
    <port name="EmpleadoWSPort" binding="tns:EmpleadoWSPortBinding">
      <soap:address location="http://localhost:8080/FrutillaWS/EmpleadoWS" />
    </port>
  </service>
</definitions>