FrutillaFront/FrutillaLocalWebService/LocalWebService/Connected Services/FrutillaWS/LocalWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.pucp.edu.pe/" targetNamespace="http://ws.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Exception" type="tns:Exception" />
  <xs:element name="obtenerId" type="tns:obtenerId" />
  <xs:element name="obtenerIdResponse" type="tns:obtenerIdResponse" />
  <xs:complexType name="obtenerId">
    <xs:sequence>
      <xs:element name="codigo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:local" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="local">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element name="idLocal" type="xs:int" />
      <xs:element name="idSupervisor" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>