FrutillaFront/FrutillaLocalWebService/LocalWebService/Connected Services/ComprobanteWS/ComprobanteWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://WS.frutilla.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ComprobanteWS" targetNamespace="http://WS.frutilla.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/FrutillaWS/ComprobanteWS?xsd=1" namespace="http://WS.frutilla.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="obtenerLineasPorIdComprobante">
    <part name="parameters" element="tns:obtenerLineasPorIdComprobante" />
  </message>
  <message name="obtenerLineasPorIdComprobanteResponse">
    <part name="parameters" element="tns:obtenerLineasPorIdComprobanteResponse" />
  </message>
  <message name="agregarComprobante">
    <part name="parameters" element="tns:agregarComprobante" />
  </message>
  <message name="agregarComprobanteResponse">
    <part name="parameters" element="tns:agregarComprobanteResponse" />
  </message>
  <message name="obtenerComprobante">
    <part name="parameters" element="tns:obtenerComprobante" />
  </message>
  <message name="obtenerComprobanteResponse">
    <part name="parameters" element="tns:obtenerComprobanteResponse" />
  </message>
  <message name="actualizarComprobante">
    <part name="parameters" element="tns:actualizarComprobante" />
  </message>
  <message name="actualizarComprobanteResponse">
    <part name="parameters" element="tns:actualizarComprobanteResponse" />
  </message>
  <message name="obtenerProductoPorId">
    <part name="parameters" element="tns:obtenerProductoPorId" />
  </message>
  <message name="obtenerProductoPorIdResponse">
    <part name="parameters" element="tns:obtenerProductoPorIdResponse" />
  </message>
  <message name="eliminarComprobante">
    <part name="parameters" element="tns:eliminarComprobante" />
  </message>
  <message name="eliminarComprobanteResponse">
    <part name="parameters" element="tns:eliminarComprobanteResponse" />
  </message>
  <portType name="ComprobanteWS">
    <operation name="obtenerLineasPorIdComprobante">
      <input wsam:Action="http://WS.frutilla.pucp.edu.pe/ComprobanteWS/obtenerLineasPorIdComprobanteRequest" message="tns:obtenerLineasPorIdComprobante" />
      <output wsam:Action="http://WS.frutilla.pucp.edu.pe/ComprobanteWS/obtenerLineasPorIdComprobanteResponse" message="tns:obtenerLineasPorIdComprobanteResponse" />
    </operation>
    <operation name="agregarComprobante">
      <input wsam:Action="http://WS.frutilla.pucp.edu.pe/ComprobanteWS/agregarComprobanteRequest" message="tns:agregarComprobante" />
      <output wsam:Action="http://WS.frutilla.pucp.edu.pe/ComprobanteWS/agregarComprobanteResponse" message="tns:agregarComprobanteResponse" />
    </operation>
    <operation name="obtenerComprobante">
      <input wsam:Action="http://WS.frutilla.pucp.edu.pe/ComprobanteWS/obtenerComprobanteRequest" message="tns:obtenerComprobante" />
      <output wsam:Action="http://WS.frutilla.pucp.edu.pe/ComprobanteWS/obtenerComprobanteResponse" message="tns:obtenerComprobanteResponse" />
    </operation>
    <operation name="actualizarComprobante">
      <input wsam:Action="http://WS.frutilla.pucp.edu.pe/ComprobanteWS/actualizarComprobanteRequest" message="tns:actualizarComprobante" />
      <output wsam:Action="http://WS.frutilla.pucp.edu.pe/ComprobanteWS/actualizarComprobanteResponse" message="tns:actualizarComprobanteResponse" />
    </operation>
    <operation name="obtenerProductoPorId">
      <input wsam:Action="http://WS.frutilla.pucp.edu.pe/ComprobanteWS/obtenerProductoPorIdRequest" message="tns:obtenerProductoPorId" />
      <output wsam:Action="http://WS.frutilla.pucp.edu.pe/ComprobanteWS/obtenerProductoPorIdResponse" message="tns:obtenerProductoPorIdResponse" />
    </operation>
    <operation name="eliminarComprobante">
      <input wsam:Action="http://WS.frutilla.pucp.edu.pe/ComprobanteWS/eliminarComprobanteRequest" message="tns:eliminarComprobante" />
      <output wsam:Action="http://WS.frutilla.pucp.edu.pe/ComprobanteWS/eliminarComprobanteResponse" message="tns:eliminarComprobanteResponse" />
    </operation>
  </portType>
  <binding name="ComprobanteWSPortBinding" type="tns:ComprobanteWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerLineasPorIdComprobante">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="agregarComprobante">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerComprobante">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarComprobante">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerProductoPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarComprobante">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ComprobanteWS">
    <port name="ComprobanteWSPort" binding="tns:ComprobanteWSPortBinding">
      <soap:address location="http://localhost:8080/FrutillaWS/ComprobanteWS" />
    </port>
  </service>
</definitions>