FrutillaFront/FrutillaLocalWebService/LocalWebService/Connected Services/InventarioWS/InventarioWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://WS.frutilla.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="InventarioWS" targetNamespace="http://WS.frutilla.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/FrutillaWS/InventarioWS?xsd=1" namespace="http://WS.frutilla.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="insertarFruta">
    <part name="parameters" element="tns:insertarFruta" />
  </message>
  <message name="insertarFrutaResponse">
    <part name="parameters" element="tns:insertarFrutaResponse" />
  </message>
  <message name="insertarBebida">
    <part name="parameters" element="tns:insertarBebida" />
  </message>
  <message name="insertarBebidaResponse">
    <part name="parameters" element="tns:insertarBebidaResponse" />
  </message>
  <message name="eliminarProducto">
    <part name="parameters" element="tns:eliminarProducto" />
  </message>
  <message name="eliminarProductoResponse">
    <part name="parameters" element="tns:eliminarProductoResponse" />
  </message>
  <message name="obtenerSnackPorId">
    <part name="parameters" element="tns:obtenerSnackPorId" />
  </message>
  <message name="obtenerSnackPorIdResponse">
    <part name="parameters" element="tns:obtenerSnackPorIdResponse" />
  </message>
  <message name="obtenerStockPorId">
    <part name="parameters" element="tns:obtenerStockPorId" />
  </message>
  <message name="obtenerStockPorIdResponse">
    <part name="parameters" element="tns:obtenerStockPorIdResponse" />
  </message>
  <message name="actualizarProducto">
    <part name="parameters" element="tns:actualizarProducto" />
  </message>
  <message name="actualizarProductoResponse">
    <part name="parameters" element="tns:actualizarProductoResponse" />
  </message>
  <message name="obtenerBebidaPorId">
    <part name="parameters" element="tns:obtenerBebidaPorId" />
  </message>
  <message name="obtenerBebidaPorIdResponse">
    <part name="parameters" element="tns:obtenerBebidaPorIdResponse" />
  </message>
  <message name="listarTodos">
    <part name="parameters" element="tns:listarTodos" />
  </message>
  <message name="listarTodosResponse">
    <part name="parameters" element="tns:listarTodosResponse" />
  </message>
  <message name="insertarSnack">
    <part name="parameters" element="tns:insertarSnack" />
  </message>
  <message name="insertarSnackResponse">
    <part name="parameters" element="tns:insertarSnackResponse" />
  </message>
  <message name="insertarBebida">
    <part name="parameters" element="tns:insertarBebida" />
  </message>
  <message name="insertarBebidaResponse">
    <part name="parameters" element="tns:insertarBebidaResponse" />
  </message>
  <message name="eliminarProducto">
    <part name="parameters" element="tns:eliminarProducto" />
  </message>
  <message name="eliminarProductoResponse">
    <part name="parameters" element="tns:eliminarProductoResponse" />
  </message>
  <message name="obtenerSnackPorId">
    <part name="parameters" element="tns:obtenerSnackPorId" />
  </message>
  <message name="obtenerSnackPorIdResponse">
    <part name="parameters" element="tns:obtenerSnackPorIdResponse" />
  </message>
  <message name="insertarFruta">
    <part name="parameters" element="tns:insertarFruta" />
  <message name="obtenerTipoProductoResponse">
    <part name="parameters" element="tns:obtenerTipoProductoResponse" />
  </message>
  <portType name="InventarioWS">
    <operation name="obtenerTipoProducto">
      <input wsam:Action="http://WS.frutilla.pucp.edu.pe/InventarioWS/obtenerTipoProductoRequest" message="tns:obtenerTipoProducto" />
      <output wsam:Action="http://WS.frutilla.pucp.edu.pe/InventarioWS/obtenerTipoProductoResponse" message="tns:obtenerTipoProductoResponse" />
    </operation>
  </portType>
  <binding name="InventarioWSPortBinding" type="tns:InventarioWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarSnack">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerProductoPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerTipoProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="InventarioWS">
    <port name="InventarioWSPort" binding="tns:InventarioWSPortBinding">
      <soap:address location="http://localhost:8080/FrutillaWS/InventarioWS" />
    </port>
  </service>
</definitions>