FrutillaFront/FrutillaLocalWebService/LocalWebService/Connected Services/NotificionesWS/NotificacionWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://WS.frutilla.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="NotificacionWS" targetNamespace="http://WS.frutilla.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/FrutillaWS/NotificacionWS?xsd=1" namespace="http://WS.frutilla.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarPorSupervisor">
    <part name="parameters" element="tns:listarPorSupervisor" />
  </message>
  <message name="listarPorSupervisorResponse">
    <part name="parameters" element="tns:listarPorSupervisorResponse" />
  </message>
  <message name="listarPorCliente">
    <part name="parameters" element="tns:listarPorCliente" />
  </message>
  <message name="listarPorClienteResponse">
    <part name="parameters" element="tns:listarPorClienteResponse" />
  </message>
  <message name="listarTodos">
    <part name="parameters" element="tns:listarTodos" />
  </message>
  <message name="listarTodosResponse">
    <part name="parameters" element="tns:listarTodosResponse" />
  </message>
  <message name="listarPorFecha">
    <part name="parameters" element="tns:listarPorFecha" />
  </message>
  <message name="listarPorFechaResponse">
    <part name="parameters" element="tns:listarPorFechaResponse" />
  </message>
  <portType name="NotificacionWS">
    <operation name="listarPorSupervisor">
      <input wsam:Action="http://WS.frutilla.pucp.edu.pe/NotificacionWS/listarPorSupervisorRequest" message="tns:listarPorSupervisor" />
      <output wsam:Action="http://WS.frutilla.pucp.edu.pe/NotificacionWS/listarPorSupervisorResponse" message="tns:listarPorSupervisorResponse" />
    </operation>
    <operation name="listarPorCliente">
      <input wsam:Action="http://WS.frutilla.pucp.edu.pe/NotificacionWS/listarPorClienteRequest" message="tns:listarPorCliente" />
      <output wsam:Action="http://WS.frutilla.pucp.edu.pe/NotificacionWS/listarPorClienteResponse" message="tns:listarPorClienteResponse" />
    </operation>
    <operation name="listarTodos">
      <input wsam:Action="http://WS.frutilla.pucp.edu.pe/NotificacionWS/listarTodosRequest" message="tns:listarTodos" />
      <output wsam:Action="http://WS.frutilla.pucp.edu.pe/NotificacionWS/listarTodosResponse" message="tns:listarTodosResponse" />
    </operation>
    <operation name="listarPorFecha">
      <input wsam:Action="http://WS.frutilla.pucp.edu.pe/NotificacionWS/listarPorFechaRequest" message="tns:listarPorFecha" />
      <output wsam:Action="http://WS.frutilla.pucp.edu.pe/NotificacionWS/listarPorFechaResponse" message="tns:listarPorFechaResponse" />
    </operation>
  </portType>
  <binding name="NotificacionWSPortBinding" type="tns:NotificacionWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarPorSupervisor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPorCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPorFecha">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="NotificacionWS">
    <port name="NotificacionWSPort" binding="tns:NotificacionWSPortBinding">
      <soap:address location="http://localhost:8080/FrutillaWS/NotificacionWS" />
    </port>
  </service>
</definitions>