FrutillaFront/FrutillaLocalWebService/LocalWebService/Connected Services/LocalWS/LocalWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://WS.frutilla.pucp.edu.pe/" targetNamespace="http://WS.frutilla.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarLocalVarios" type="tns:actualizarLocalVarios" />
  <xs:element name="actualizarLocalVariosResponse" type="tns:actualizarLocalVariosResponse" />
  <xs:element name="listarLocales" type="tns:listarLocales" />
  <xs:element name="listarLocalesResponse" type="tns:listarLocalesResponse" />
  <xs:element name="obtenerLocal" type="tns:obtenerLocal" />
  <xs:element name="obtenerLocalResponse" type="tns:obtenerLocalResponse" />
  <xs:complexType name="actualizarLocalVarios">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarLocalVariosResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerLocal">
    <xs:sequence>
      <xs:element name="idLocal" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerLocalResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:local" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="local">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element name="idLocal" type="xs:int" />
      <xs:element name="idSupervisor" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarLocales">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarLocalesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:local" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>