FrutillaFront/FrutillaLocalWebService/LocalWebService/Connected Services/UsuarioWS/UsuarioWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://WS.frutilla.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="UsuarioWS" targetNamespace="http://WS.frutilla.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/FrutillaWS/UsuarioWS?xsd=1" namespace="http://WS.frutilla.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="generarCodigoRecuperacion">
    <part name="parameters" element="tns:generarCodigoRecuperacion" />
  </message>
  <message name="generarCodigoRecuperacionResponse">
    <part name="parameters" element="tns:generarCodigoRecuperacionResponse" />
  </message>
  <message name="actualizarContrasena">
    <part name="parameters" element="tns:actualizarContrasena" />
  </message>
  <message name="actualizarContrasenaResponse">
    <part name="parameters" element="tns:actualizarContrasenaResponse" />
  </message>
  <message name="validarCodigoRecuperacion">
    <part name="parameters" element="tns:validarCodigoRecuperacion" />
  </message>
  <message name="validarCodigoRecuperacionResponse">
    <part name="parameters" element="tns:validarCodigoRecuperacionResponse" />
  </message>
  <message name="obtenerIDPorNombreUsuario">
    <part name="parameters" element="tns:obtenerIDPorNombreUsuario" />
  </message>
  <message name="obtenerIDPorNombreUsuarioResponse">
    <part name="parameters" element="tns:obtenerIDPorNombreUsuarioResponse" />
  </message>
  <message name="correoExiste">
    <part name="parameters" element="tns:correoExiste" />
  </message>
  <message name="correoExisteResponse">
    <part name="parameters" element="tns:correoExisteResponse" />
  </message>
  <message name="validarUsuario">
    <part name="parameters" element="tns:validarUsuario" />
  </message>
  <message name="validarUsuarioResponse">
    <part name="parameters" element="tns:validarUsuarioResponse" />
  </message>
  <message name="obtenerPorCorreo">
    <part name="parameters" element="tns:obtenerPorCorreo" />
  </message>
  <message name="obtenerPorCorreoResponse">
    <part name="parameters" element="tns:obtenerPorCorreoResponse" />
  </message>
  <portType name="UsuarioWS">
    <operation name="generarCodigoRecuperacion">
      <input wsam:Action="http://WS.frutilla.pucp.edu.pe/UsuarioWS/generarCodigoRecuperacionRequest" message="tns:generarCodigoRecuperacion" />
      <output wsam:Action="http://WS.frutilla.pucp.edu.pe/UsuarioWS/generarCodigoRecuperacionResponse" message="tns:generarCodigoRecuperacionResponse" />
    </operation>
    <operation name="actualizarContrasena">
      <input wsam:Action="http://WS.frutilla.pucp.edu.pe/UsuarioWS/actualizarContrasenaRequest" message="tns:actualizarContrasena" />
      <output wsam:Action="http://WS.frutilla.pucp.edu.pe/UsuarioWS/actualizarContrasenaResponse" message="tns:actualizarContrasenaResponse" />
    </operation>
    <operation name="validarCodigoRecuperacion">
      <input wsam:Action="http://WS.frutilla.pucp.edu.pe/UsuarioWS/validarCodigoRecuperacionRequest" message="tns:validarCodigoRecuperacion" />
      <output wsam:Action="http://WS.frutilla.pucp.edu.pe/UsuarioWS/validarCodigoRecuperacionResponse" message="tns:validarCodigoRecuperacionResponse" />
    </operation>
    <operation name="obtenerIDPorNombreUsuario">
      <input wsam:Action="http://WS.frutilla.pucp.edu.pe/UsuarioWS/obtenerIDPorNombreUsuarioRequest" message="tns:obtenerIDPorNombreUsuario" />
      <output wsam:Action="http://WS.frutilla.pucp.edu.pe/UsuarioWS/obtenerIDPorNombreUsuarioResponse" message="tns:obtenerIDPorNombreUsuarioResponse" />
    </operation>
    <operation name="correoExiste">
      <input wsam:Action="http://WS.frutilla.pucp.edu.pe/UsuarioWS/correoExisteRequest" message="tns:correoExiste" />
      <output wsam:Action="http://WS.frutilla.pucp.edu.pe/UsuarioWS/correoExisteResponse" message="tns:correoExisteResponse" />
    </operation>
    <operation name="validarUsuario">
      <input wsam:Action="http://WS.frutilla.pucp.edu.pe/UsuarioWS/validarUsuarioRequest" message="tns:validarUsuario" />
      <output wsam:Action="http://WS.frutilla.pucp.edu.pe/UsuarioWS/validarUsuarioResponse" message="tns:validarUsuarioResponse" />
    </operation>
    <operation name="obtenerPorCorreo">
      <input wsam:Action="http://WS.frutilla.pucp.edu.pe/UsuarioWS/obtenerPorCorreoRequest" message="tns:obtenerPorCorreo" />
      <output wsam:Action="http://WS.frutilla.pucp.edu.pe/UsuarioWS/obtenerPorCorreoResponse" message="tns:obtenerPorCorreoResponse" />
    </operation>
  </portType>
  <binding name="UsuarioWSPortBinding" type="tns:UsuarioWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="generarCodigoRecuperacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarContrasena">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="validarCodigoRecuperacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerIDPorNombreUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="correoExiste">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="validarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorCorreo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="UsuarioWS">
    <port name="UsuarioWSPort" binding="tns:UsuarioWSPortBinding">
      <soap:address location="http://localhost:8080/FrutillaWS/UsuarioWS" />
    </port>
  </service>
</definitions>