FrutillaFront/FrutillaLocalWebService/LocalWebService/Connected Services/ClienteWS/ClienteWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://WS.frutilla.pucp.edu.pe/" targetNamespace="http://WS.frutilla.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="agregarCliente" type="tns:agregarCliente" />
  <xs:element name="agregarClienteResponse" type="tns:agregarClienteResponse" />
  <xs:complexType name="agregarCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cliente">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="contraSistema" type="xs:string" />
      <xs:element minOccurs="0" name="correoElectronico" type="xs:string" />
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="tipoUsuario" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioSistema" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="agregarClienteResponse">
    <xs:sequence />
  </xs:complexType>
</xs:schema>