FrutillaFront/FrutillaLocalWebService/LocalWebService/Connected Services/PedidoWS/PedidoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://WS.frutilla.pucp.edu.pe/" targetNamespace="http://WS.frutilla.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="obtenerDetallePedidoPorOrden" type="tns:obtenerDetallePedidoPorOrden" />
  <xs:element name="obtenerDetallePedidoPorOrdenResponse" type="tns:obtenerDetallePedidoPorOrdenResponse" />
  <xs:element name="obtenerPedidosPorEmpleado" type="tns:obtenerPedidosPorEmpleado" />
  <xs:element name="obtenerPedidosPorEmpleadoResponse" type="tns:obtenerPedidosPorEmpleadoResponse" />
  <xs:complexType name="obtenerPedidosPorEmpleado">
    <xs:sequence>
      <xs:element name="idEmpleado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPedidosPorEmpleadoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ordenVenta" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ordenVenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="comprobantePago" type="tns:comprobantePago" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="entregado" type="xs:boolean" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoVenta" />
      <xs:element minOccurs="0" name="fecha" type="tns:localDate" />
      <xs:element minOccurs="0" name="horaFinEntrega" type="tns:localTime" />
      <xs:element name="idCliente" type="xs:int" />
      <xs:element name="idComprobante" type="xs:int" />
      <xs:element name="idEmpleado" type="xs:int" />
      <xs:element name="idLocal" type="xs:int" />
      <xs:element name="idOrdenVenta" type="xs:int" />
      <xs:element name="montoTotal" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobantePago">
    <xs:sequence>
      <xs:element minOccurs="0" name="fecha" type="tns:localDate" />
      <xs:element minOccurs="0" name="formaPago" type="tns:formaDePago" />
      <xs:element name="idComprobante" type="xs:int" />
      <xs:element name="montoIGV" type="xs:double" />
      <xs:element name="numeroArticulos" type="xs:int" />
      <xs:element name="subtotal" type="xs:double" />
      <xs:element name="total" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localDate" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="localTime" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerDetallePedidoPorOrden">
    <xs:sequence>
      <xs:element name="idOrdenVenta" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerDetallePedidoPorOrdenResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:lineaOrdenDeVenta" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lineaOrdenDeVenta">
    <xs:sequence>
      <xs:element name="cantidad" type="xs:int" />
      <xs:element name="idLineaVenta" type="xs:int" />
      <xs:element name="idOrdenVenta" type="xs:int" />
      <xs:element minOccurs="0" name="producto" type="tns:producto" />
      <xs:element name="subtotal" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoProd" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="precioUnitario" type="xs:double" />
      <xs:element name="stock" type="xs:int" />
      <xs:element name="stockMinimo" type="xs:int" />
      <xs:element minOccurs="0" name="tipoEstado" type="tns:tipoEstado" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="formaDePago">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TARJETA_CREDITO" />
      <xs:enumeration value="TARJETA_DEBITO" />
      <xs:enumeration value="PLIN" />
      <xs:enumeration value="YAPE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoVenta">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ENTREGADO" />
      <xs:enumeration value="PROCESO" />
      <xs:enumeration value="CAMBIO" />
      <xs:enumeration value="POR_ENTREGAR" />
      <xs:enumeration value="FALTA_PAGO" />
      <xs:enumeration value="CANCELADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoEstado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DISPONIBLE" />
      <xs:enumeration value="AGOTADO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>